$color_background: #001B2E;
$color_primary: #294C60;
$color_secondary: #ADB6C4;
$color_hover: #FFC49B;
$color_font: #FFEFD3;

.publicprofile {
    background-color: $color_background;
    padding: 0.1rem 1rem 1rem 1rem;

    &__title {
        background-color: #ADB6C415;
        color: $color_hover;
        font-size: 2.5rem;
    }
    
    
    &__home {
        text-decoration: none;
        color: #67B5F4;
        font-weight: 600;
        font-size: 1rem;
    }

    &__icon {
        width: 1rem;
        margin-top: 1rem;
        margin-right: 0.5rem;
    }
}

.profilelinks {

    &__photo {
        margin: 0 2rem;
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        border-radius: 50%;
        border: 3px solid $color_font;

        &--image {
            max-width: 10rem;
        }
    }
}