.header {
  width: 100%;
  min-width: 320px;
  background-color: #001B2E;
  padding: 1rem;
}

.nav {
  display: flex;
  place-items: center;
  gap: 1rem;
  padding: 0;
  list-style: none;
}
.nav__logo {
  width: 4rem;
}
.nav__link {
  text-decoration: none;
  background-color: #294C60;
  color: #ADB6C4;
  border: 1px solid transparent;
  padding: 0.2rem 1rem;
}
.nav__link:hover {
  color: #FFC49B;
  border-color: #FFC49B;
}
.nav__link--true {
  color: #FFC49B;
  border-color: #FFC49B;
}

.dashboard {
  position: relative;
  background-color: #294C60;
  padding: 0.5rem;
}
.dashboard__form {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  gap: 0.4rem;
}
.dashboard__error {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  color: #fa7575;
  font-size: 0.8rem;
  animation: animationError 1s linear infinite;
}

@keyframes animationError {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.form__label {
  text-align: left;
  font-size: 0.8rem;
  font-weight: 400;
}
.form__input {
  width: 98%;
  padding: 0.2rem 0 0.2rem 0.3rem;
  font-weight: 100;
}
.form__button {
  justify-self: end;
  cursor: pointer;
}